@media only screen and (min-width: 38rem) {

    #companies:has(section.view-table) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#companies:has(section.view-list) {
    gap: 0;
}

section.view-list {
    grid-template-columns: 2fr 2fr 1fr 2fr;
    gap: 0;
    padding: 0.5rem 1rem;
    border-bottom: none;
}

}