:root {
    --color1: #b4a497;
    --color2: #f5b1c3;
    --color3: #315b7c;
    /* original: #75b1e7 */
    --color4: #484846;
    --Item: #eee;
    --ItemSelect: #ddd;
    --ItemHover: #ccc;
}

/**************************** HEADER ****************************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 8px;
    align-items: center;
    border-bottom: solid 1px var(--ItemSelect);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 6px;
}

header span {
    font-size: 1.2rem;
    color: var(--color3);
}

#ham-btn::after {
    content: "☰";
}

#ham-btn.show::after {
    content: "×";
}

/******************************* MAIN *******************************/
#dir-title {
    display: grid;
    grid-template-columns: auto 44px;
    column-gap: 8px;
    align-items: center;
}

#toggle-view-btn,
#ham-btn {
    background: none;
    border: none;
    color: var(--color3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

#toggle-view-btn.view-list:after {
    content: "⊞";
}

#toggle-view-btn.view-table:after {
    content: "▤";
}

/**************************** NAVIGATION ****************************/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    color: var(--color3);
    text-decoration: none;
    border-bottom: solid 1px var(--ItemSelect);
}

.navigation li.current {
    background-color: var(--ItemSelect);
}

.navigation a:hover {
    background-color: var(--ItemHover);
}

/***************************** MAIN *************************************/
h1 {
    color: var(--color4);
}

/*************************** COMPANIES **********************************/
#companies:has(section.view-table) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
}

#companies:has(section.view-list) {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

section.view-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--ItemHover);
    background-color: var(--ItemSelect);
}

section.view-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.25rem;
    align-items: center;
    padding: 0.5rem;
    text-align: left;
}

section.view-list:nth-child(odd) {
    background-color: var(--ItemSelect);
}

section.view-list:nth-child(even) {
    background-color: var(--ItemHover);
}

section.view-list img {
    display: none;
}

section.view-list h2 {
    margin: 0.25rem 0;
}

#companies p,
h2,
a {
    text-align: center;
}

#companies p {
    margin: 0;
}

/**************************** FOOTER ****************************/
main {
    margin-bottom: 0.5rem;
}

footer {
    display: grid;
    grid-template-columns: auto auto auto;
    ;
    align-items: center;
    background-color: var(--Item);
    padding: 1rem 0px;
    text-align: center;
}

footer h2 {
    margin: 5px;
}

footer p {
    margin: 2px;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px var(--ItemHover) solid;
    border-radius: 4px;
    background-color: var(--ItemSelect);
    width: 64px;
    height: 64px;
}

.social img {
    width: 44px;
    height: 44px;
}

.social a:hover {
    background-color: var(--ItemHover);
}