/* Header and Navigation - Large Screens (min-width: 38rem) */
@media only screen and (min-width: 601px) {

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px var(--border-color);
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    /**************************** FOOTER ****************************/
    footer {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }
}